<html>
    <head>
        <% include ../../main/views/header.ejs %>
    </head>
    <body class="p-3 mb-2 bg-dark text-white">
        <% include ../../main/views/topMenu.ejs %>
        <% include ./body.ejs %>
        <% include ../../main/views/footer.ejs %>
    </body>
</html>