<html>
    <head>
        <% include ./header.ejs %>
    </head>
    <body class="p-3 mb-2 bg-dark text-white">
        <% include ./topMenu.ejs %>
        <% include ./body.ejs %>
        <% include ./footer.ejs %>
    </body>
</html>