<html>

<head>
    <% include ../../main/views/header.ejs %>
</head>

<script src="/socket.io/socket.io.js"></script>
<script>
    $(document).ready(function(){
        //alert('test.....');
        var room=io.connect();//서버에 접속하기
        room.on('connect',function(){
            room.emit('join',{roomname:$("#roomname").text(),nickname:$("#nickname").text()});
        });
        room.on('joined',function(data){
            var nickname=data.nickname;
            $("ul").append("<li id='"+ nickname + "'>" + nickname + "</li>");
            $("#chatwin").append("<p>" + nickname + "님이 입장하셨습니다</p>");
        });
        $("#sendBtn").click(function(){
            console.log(nickname);
            console.log(msg);
            
            var nickname=$("#nickname").text();
            var msg=$("#msg").val();
            room.emit('sendMsg',{nickname:nickname,msg:msg});
        });
        
        room.on('recMsg',function(data){
            var nickname=data.nickname;
            var msg=data.msg;
            $("#chatwin").append("<p>" + nickname + " : " + msg + "</p>");
        });
        $("#leaveBtn").click(function(){
            var nickname=$("#nickname").text();
            var roomname=$("#roomname").text();
            room.emit('leaveRoom',{roomname:roomname,nickname:nickname});
            location.href='/enter';
        });
        room.on('leaveRoom',function(data){
            var nickname=data.nickname;
            $("#chatwin").append("<p>" + nickname + "님이 나가셨습니다.</p>");
            //li중에서 나간 사용자 닉네임 제거하기
            $("#" + data.nickname).remove();
        });
    });
  </script>

<body>
    <% include ../../main/views/topMenu.ejs %>
    <h1>
        <undefined>방에 입장하셨습니다...</undefined>
    </h1>
    <h2><span id="roomname"></span></h2>
    <input type="button" value="나가기" id="leaveBtn">
    <h2>접속자명단</h2>
    <ul>
        <!--
      <foreach>att in attendants
        <li id="#{att}"></li>
      </foreach>
  -->
    </ul>
    <div id="chatwin" style="width:300px;height:300px;border:1px solid #aaa"></div><span id="nickname"></span>
    <input type="text" id="msg">
    <input type="button" value="보내기" id="sendBtn">
</body>

</html>